@model List<Empleado>

@{
    //SI IMPLEMENTAMOS EL MODEL NO HARÍA FALTA YA ESTO
    List<int> idsempleados = Context.Session.GetObject<List<int>>("IDEMPLEADOS");

}

<h1>IDS DE EMPLEADOS ALMACENADOS</h1>

<p>
    <a asp-controller="Empleados" asp-action="SessionIdsEmpleados">Volver a session empleados</a>
</p>

@if (idsempleados != null)
{
<ul class="list-group">
        @foreach (int ids in idsempleados)
        {      
        <li class="list-group-item">@ids</li>
        }
</ul>

}
else
{
    <h2 style="color:darkred"> NO TIENE EMPLEADOS ALMACENADOS EN SESSION</h2>
}


@* AQUÍ IMPLEMENTAMOS MODELL *@
<h1>TABLA EMPLEADOS POR IDS DEL SESSION</h1>
<h2 style="color:darkred">@ViewData["MENSAJE"]</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>IdEmpleado</th>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>IdDepartamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.IdEmpleado
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2 style="color:darkred"> NO TIENE EMPLEADOS ALMACENADOS EN SESSION</h2>
}
